<ol class="book-list">
    <% @books.each do |book| %>
        <li class="book-item">
            <span class="book-author">(<%= book.author %>)</span>
            <span class="book-title"><%= book.title %></span>
        </li>
    <% end %>
</ol>