<h1>Editing book</h1>
<div class="button blue">
  <%= link_to "Show this book", @book %>
</div>
<div class="button gray">
    <%= link_to "Back to books", books_path %>
</div>

<br>

<%= render "form", book: @book %>

