<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<div class="button blue">
  <%= link_to "New book", new_book_path %>
</div>
<br>

<div id="books">
  <% @books.each do |book| %>
    <%= link_to book, class: "book-link" do %>
      <%= render book %>
    <% end %>
  <% end %>
</div>


